## Dependencies

In [7]:
# Dependencies to Visualize the model
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from config import postgresql_pword

from flask import Flask, jsonify, render_template

In [8]:
#establish connection to SQL database in AWS - refer to https://stackoverflow.com/questions/54300263/connect-to-aws-rds-postgres-database-with-python/54313925
env_engine = create_engine(f'postgresql://postgres:postgres@james-bond-uwa-db.cbbzivxykkl5.ap-southeast-2.rds.amazonaws.com:5432/James_Bond')
env_conn = env_engine.connect()

In [9]:
session=Session(env_engine)
bond_data=pd.read_sql_table("james_bond_data", env_conn)
session.close()

In [10]:
bond_data.head()

,year,movie,actor,director,composer,writer,cinematographer,film_location,shooting_location,bond_car,...,film_length,avg_imdb_rating,avg_rtn_tom_rating,conquest,martinis,bjb,kills_bond,kills_others,top_100_soundtrack,video_game
0,1962,Dr. No,Sean Connery,Terence Young,Monty Norman,"Richard Maibaum, Johanna Harwood & Berkely Mather",Ted Moore,"Great Britain, Jamaic","England, Jamaica",Sunbeam,...,110,7.3,7.7,3,2,1,4,8,0,0
1,1963,From Russia with Love,Sean Connery,Terence Young,John Barry,Richard Maibaum & Johanna Harwood,Ted Moore,"United Kingdom, Great Britain, Turkey, Croatia...","England, Scotland, Italy, Switzerland, Turkey",Bently,...,115,7.5,8.0,4,0,0,11,16,0,1
2,1964,Goldfinger,Sean Connery,Guy Hamilton,John Barry,Richard Maibaum & Paul Dehn,Ted Moore,"United States, Great Britain, Switzerland","England, Switzerland, United States",Aston Martin,...,110,7.8,8.4,2,1,2,9,68,1,1
3,1965,Thunderball,Sean Connery,Terence Young,John Barry,Richard Maibaum & John Hopkins,Ted Moore,"France, Great Britain, Bahamas, United States","England, France, Bahamas, United States",Aston Martin,...,130,7.0,6.8,3,0,0,20,90,1,0
4,1967,You Only Live Twice,Sean Connery,Lewis Gilbert,John Barry,Roald Dahl,Freddie Young,"United States, Russia, Kazakhstan, Norway, Japan","Japan, Spain, Norway",Toyota,...,117,6.9,6.3,3,1,0,21,175,1,0

In [11]:
bond_data.columns

Index(['year', 'movie', 'actor', 'director', 'composer', 'writer',
       'cinematographer', 'film_location', 'shooting_location', 'bond_car',
       'bond_girl_nat', 'us_grossing', 'us_gross_adj_2013',
       'us_gross_adj_2020', 'world_gross', 'world_gross_adj_2013',
       'world_gross_adj_2020', 'budget', 'budget_adj_2013', 'budget_adj_2020',
       'film_length', 'avg_imdb_rating', 'avg_rtn_tom_rating', 'conquest',
       'martinis', 'bjb', 'kills_bond', 'kills_others', 'top_100_soundtrack',
       'video_game'],
      dtype='object')

In [14]:
bond_data=bond_data.drop(columns =['us_grossing', 'us_gross_adj_2013','world_gross', 'world_gross_adj_2013','budget', 'budget_adj_2013'])

In [15]:
bond_data.columns

Index(['year', 'movie', 'actor', 'director', 'composer', 'writer',
       'cinematographer', 'film_location', 'shooting_location', 'bond_car',
       'bond_girl_nat', 'us_gross_adj_2020', 'world_gross_adj_2020',
       'budget_adj_2020', 'film_length', 'avg_imdb_rating',
       'avg_rtn_tom_rating', 'conquest', 'martinis', 'bjb', 'kills_bond',
       'kills_others', 'top_100_soundtrack', 'video_game'],
      dtype='object')

In [16]:
bond_data.dtypes

year                      int64
movie                    object
actor                    object
director                 object
composer                 object
writer                   object
cinematographer          object
film_location            object
shooting_location        object
bond_car                 object
bond_girl_nat            object
us_gross_adj_2020       float64
world_gross_adj_2020    float64
budget_adj_2020         float64
film_length               int64
avg_imdb_rating         float64
avg_rtn_tom_rating      float64
conquest                  int64
martinis                  int64
bjb                       int64
kills_bond                int64
kills_others              int64
top_100_soundtrack        int64
video_game                int64
dtype: object

**Machine Learning**
<br>Use multiple linear regression model from SKlearn to determine the revenue for the latest Bond Movie

In [22]:
#Delete the latest Bond film from the database
training_data=bond_data[:24]
training_data[20:]

,year,movie,actor,director,composer,writer,cinematographer,film_location,shooting_location,bond_car,...,film_length,avg_imdb_rating,avg_rtn_tom_rating,conquest,martinis,bjb,kills_bond,kills_others,top_100_soundtrack,video_game
20,2006,Casino Royale,Daniel Craig,Martin Campbell,David Arnold,"Neal Purvis, Robert Wade & Paul Haggis",Phil Méheux,"Czech Republic, Pakistan, Uganda, Madagascar, ...","England, Italy, Czech republic, Bahamas, Unite...",Aston Martin,...,144,7.9,7.8,2,3,1,11,11,1,0
21,2008,Quantum of Solace,Daniel Craig,Marc Forster,David Arnold,Paul Haggis and Neal Purvis and Robert Wade,Roberto Schaefer,"Italy, England, Haiti, Austria, Bolivia, Russia","England, Italy, Spain, Panama, Mexico, Chile, ...",Aston Martin,...,106,6.7,6.1,1,6,0,16,15,1,1
22,2012,Skyfall,Daniel Craig,Sam Mendes,Thomas Newman,"Neal Purvis, Robert Wade & John Logan",Roger Deakins,"Turkey, England, China, Macau, Japan, Scotland","England, Scotland, Turkey, China",Aston Martin,...,143,7.8,8.2,3,1,1,26,26,1,0
23,2015,Spectre,Daniel Craig,Sam Mendes,Thomas Newman,"John Logan & Neal Purvis, Robert Wade & Jez Bu...",Hoyte van Hoytema,"Mexico, England, Italy, Austria, Morocco, Vati...","England, Austria, Italy, Vatican City, Mexico,...",Aston Martin,...,148,6.8,6.4,3,1,1,30,205,1,0

In [128]:
X=training_data[['year','budget_adj_2020','film_length', 'avg_imdb_rating','avg_rtn_tom_rating', 'kills_bond']]
y=training_data['world_gross_adj_2020'].values.reshape(-1,1)
print(X.shape, y.shape)

(24, 6) (24, 1)

In [129]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [130]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

In [131]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)
X_scaled=X_scaler.transform(X)
y_scaled=y_scaler.transform(y)

In [132]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train_scaled, y_train_scaled)
training_score = model.score(X_train_scaled, y_train_scaled)
testing_score = model.score(X_test_scaled, y_test_scaled)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.5787307610889085
Testing Score: 0.7886558180725666

In [133]:
new_movie=bond_data[24:]
X_predict=new_movie[['year','budget_adj_2020','film_length', 'avg_imdb_rating','avg_rtn_tom_rating','kills_bond']]
X_predict_scaled=X_scaler.transform(X_predict)

In [135]:
tes=model.predict(X_predict_scaled)
y_scaler.inverse_transform(tes)[0][0]

951730.7264588822